
*{
    padding: 0;
    margin: 0;
}

/*.grid
{
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

.gridOne
{
    grid-column: 2/3;
    grid-row: 1/3;

}
.gridTwo
{
    grid-column: 2/3;
    grid-row: 3;
}
*/

button
{
    
    width: 60px;

}

#box
{
    display: none;
  color: #000;
  position: relative;

}

#box p{

  font-size: 15px;
}

.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;

    content: "✖";
  }



